$primary-color: #C69C78;
$second-color: #000000;
$third-color: #ffffff;
$forth-color: #cccccc;
$fifth-color: #EEF0F1;
$banner-image: url('./banner.jpg') center bottom/cover no-repeat;
@mixin display($display, $direction, $alignH, $alignV) {
  display: $display;
  flex-direction: $direction;
  justify-content: $alignH;
  align-items: $alignV;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: $fifth-color;
}

.wrapper {
  @include display(flex, column, flex-start, center);
  position: relative;
  overflow: hidden;
}

.banner {
  width: 100vw;
  height: 60vh;
  background: $banner-image;
  position: relative;
  @include display(flex, row, center, center);
}

.loginOptions {
  position: absolute;
  top: 0;
  right: 70px;
  @include display(flex, column, space-between, center);
  height: 50px;
  z-index: 2;
  a {
    text-decoration: none;
    color: $second-color;
  }
}

.navbar {
  width: 100%;
  height: 85px;
  @include display(flex, row, space-between, center);
  padding: 30px 50px;
  font-size: 25px;
}

.logo,
.brand,
.username {
  display: inline-block;
  font-weight: 600;
}

.brand {
  color: $second-color;
}

.logo {
  width: 55px;
  height: 55px;
  background-color: $second-color;
  font-size: 35px;
  border-radius: 50%;
  color: $third-color;
  text-align: center;
  line-height: 55px;
  a {
    text-decoration: none;
    color:$third-color;
  }
}

.home_page,
.about_page,
.admin_page,
.post_list_page,
.login_page,
.logout_page {
  text-decoration: none;
  color:$second-color;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid $forth-color;
  cursor: pointer;
  transition: background-color .3s ease, color .3s ease;

  &:hover {
    background-color:$primary-color;
    color: $third-color;
  }
}

.cards-cat {
  @include display(flex, row, center, flex-start);
  padding: 50px;
  width: 90%;
  margin-bottom: 35px;
  flex-wrap: wrap; 
}

.column,
.placeholder {
  width: 35%;
  margin: 10px;
}

.card {
  border: 1px solid $forth-color;
}

.card,
.card_img,
.img {
  width: 100%;
}

.img{
  height: 400px;
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.card_section {
  position: relative;
  padding: 10px 20px;
}

.contributor {
  @include display(flex, row, flex-start, center);
  margin: 10px 0 20px;

  &_img,
  .img {
    margin-right: 12px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: $primary-color;
  }

  &_name {
    color:  $forth-color;
  }
}

.post_title {
  font-size: 30px;
}

.post_link {
  text-decoration: none;
  color: $second-color;
}

.category {
  position: absolute;
  top: 15px;
  right: 10px;
}

.footer {
   @include display(flex, column, flex-start, center);
  width: 100%;
  height: 120px;
  padding: 30px 50px;
  margin-bottom: 15px;
  &__contact {
    @include display(flex, row, flex-start, center);
    margin-bottom: 15px;
  }
  &__contact.about_page {
    border: none;
    &:hover {
      background-color: transparent;
      color: $second-color;
    }
  }
}

.copy_right {
  font-size: 12px;
}

.posts_section {
  width: 100%;
  height:calc(100vh - 220px);
  @include display(flex, row, center, flex-start);
  overflow-y: scroll;
}

.new_post_section,
.new_post_form,
.title,
.new_post_form .content {
  border-radius: 10px;
}

.new_post_section {
  background-color: $third-color;
  width: 100%;
  max-width: 600px;
  height: 70vh;
  border: 1px solid #242525;
  margin: 30px 0;

  &_form {
    @include display(flex, column, flex-start, flex-start);
    height: 100%;
    position: relative;
  }
}

.title,
.new_post_form .content {
  resize: none;
  outline: none;
  border: none;
}

.title {
  height: 100px;
  padding: 20px;
  font-size: 30px;
}

.post_category {
  padding: 20px;
  color: $primary-color;
}

.new_post_form .content {
  flex: 1;
  padding: 20px;
  font-size: 16px;
}

::placeholder {
  color: $primary-color;
  font-weight: 600;
}

.submit_btn {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  background-color: $primary-color;
  color: $third-color;
  display: block;
  outline: none;
  padding: 10px 20px;
  border: 1px solid $forth-color;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.manage_section {
  padding: 30px 0;
  width: 100%;
  height: calc(100vh - 230px);
  display: flex;
  overflow-y: scroll;
}

.side_nav {
  width: 15%;
  @include display(flex, column, space-between, center);
  text-align: center;
}

.profile {
  background: $primary-color;
  width: 100%;
  &__img img {
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 10px 0;
  }
}

.post_count {
  font-size: 20px;
  span {
    font-size: 100px;
    font-weight: 600;
  }

  .button {
    position: relative;
  }
}

.create_btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  border: 1px solid $forth-color;
  cursor: pointer;
}

.new_post_btn,
.new_category_btn {
  position: absolute;
  text-decoration: none;
  color: $second-color;
  transform: translateX(-50%);
  transition: all 1s ease-in-out;
}

.new_post_btn {
  top: -50%;
}
.new_category_btn {
  top: -120%;
}

.manage_table {
  width: 85%;
  @include display(flex, row, space-between, flex-start);
  padding: 0 20px;

  table {
    /* remove the cell-margin */
    border-collapse: collapse;
    width: 48%;
  }

  .edit_btn,
  .delete_btn {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }

  .delete_btn {
    outline: none;
    border: none;
  }

  .table_title {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
  }
}

.table_header {
  background-color: $primary-color;

  th,
  .table_content td {
    padding: 20px 50px;
    border: 1px #ddd solid;
    text-align: center;
  }
}

blank {
  width: 100%;
  height: 240px;
}

.form_section {
  position: absolute;
  top: 40%;
  background: $third-color;
  max-width: 700px;
  padding: 30px;
  @include display(flex, column, center, center);

  .login_form {
    width: 100%;
  }

  .login_title {
    margin-bottom: 30px;
  }
}

.personl_info {
  @include display(flex, column, flex-start, flex-start);
  margin-bottom: 20px;
  label {
    margin-bottom: 10px;
    font-weight: 600;
  }

  input[type=email],
  input[type=password] {
    padding: 8px;
    outline: #C69C78;
    border: 1px solid #ccc;
  }
}

.single_post {
  margin: 0 auto;
  width: 65%;
  @include display(flex, row, flex-start, flex-start);
  padding: 20px;
}

.banner__title,
.content {
  white-space: pre-line;
  word-break: break-all;
  padding: 0 50px;
}

.banner__title {
  font-size: 60px;
  color: $third-color;
}

.author_section {
  width: auto;
  padding: 20px;

  .author {
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.post_date {
  color: #aaa;
}

.content_section {
  width: 85%;
  padding: 20px;

  .content {
    margin-left: 10px;
  }
}

.about_section {
  width: 100%;
  height: calc(100vh - 220px);
  position: relative;

  &:hover .about__slogan::after {
    width: 100%;
  }
}

.about {
  background: $banner-image;
  height: 100%;
  @include display(flex, column, center, center);

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }

  &__title, &__slogan {
    font-size: 60px;
    color: $third-color;
    z-index: 2;
    transition: color .3s ease-in-out;
  }
}

.about__title {
  margin-bottom: 30px;
}

.about__slogan {
  font-size: 30px;

    &::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin: 10px 0;
    background-color: #ffff66;
    transition: width .5s .5s ease-in-out;
    z-index: 3;
  }
}